body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: #193441;
}

a {
    color: #00B7FF;
}

#tweets {
    list-style: none;
    padding: 0;
}

.tweet {
    background-color: #91AA9D;
    border: 1px solid #859C90;
    line-height: 1.25em;
    padding: 0.4em;
}