bgColour = hsl(200, 44%, 18%)
strongColour = hsl(149, 13%, 62%)
highlightColour = hsl(80, 29%, 80%)
brightColour = hsl(78, 100%, 98%)
weakColour = hsl(198, 28%, 34%)

background-linear-gradient(startPoint, startColour, endColour)
  background -webkit-linear-gradient(startPoint, startColour, endColour)
  background -moz-linear-gradient(startPoint, startColour, endColour)
  background -ms-linear-gradient(startPoint, startColour, endColour)
  background -o-linear-gradient(startPoint, startColour, endColour)
  background linear-gradient(startPoint, startColour, endColour)


body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: bgColour;
    line-height: 1.4em;
}

a {
    color: weakColour;
}

#tweets {
    padding: 0
    margin: 0
    position: relative
}

#tweets ul {
    list-style: none;
    padding: 0;
    margin: 0
}

.tweet {
    background-color: strongColour;
    border: 1px solid #859C90;
    line-height: 1.25em;
    padding: 0.4em;

    min-height: 5.5em;

    background-linear-gradient(top, strongColour +  10%, strongColour);
    box-shadow: inset 0px 2px 18px -9px black
}

#tweetSettings {
    background-color: weakColour;
    background-linear-gradient(top,weakColour + 10%, weakColour);
    box-shadow: inset 0px 1px 5px 0px black;
    padding: 1.5em;
    color: strongColour;
}

#tweetsContainer, .statistics {
    float: left;
    width: 50%;

    background-linear-gradient(top, strongColour + 10%, strongColour - 10%);
    box-shadow: inset 0px 2px 18px -9px black
}

.statistics
    background-color: strongColour;

    min-height: 10em

ul.languages, .tags
    list-style: none
    padding: 1.5em
    margin: 0

statistics-element-background()
  background: url(/images/weakColourPixel.png) no-repeat scroll
  color: hsl(80, 29%, 80%)
  padding: 0.3em


.language, .language-active, .tag, .tag-active {
  statistics-element-background()
}

li.language:hover, .tag:hover
    background-color strongColour - 20%

li.language-active, .tag-active
    background-color strongColour
    font-weight: bold

.animFadeIn-enter {
  opacity: 0.01;
  transition: opacity .25s ease-in;
}

.animFadeIn-enter.animFadeIn-enter-active {
  opacity: 1;
}

.animFadeIn-leave {
  opacity: 0.01;
  transition: opacity .25s ease-in;
}

.animFadeIn-leave.animFadeIn-leave-active {
  opacity: 1;
}


.frozen-tweets-box {
    position: absolute
    width: 100%
    background-color: strongColour - 20%
    border: 1px solid strongColour - 30%
    opacity: 0.85
    line-height: 2.5em
    text-align: center
    box-shadow: 0px 2px 18px -6px black
}