bgColour = hsl(200, 44%, 18%)
strongColour = hsl(149, 13%, 62%)
highlightColour = hsl(80, 29%, 80%)
brightColour = hsl(78, 100%, 98%)
weakColour = hsl(198, 28%, 34%)

errorColour = hsl(349, 66%, 48%)

background-linear-gradient(startPoint, startColour, endColour)
  background -webkit-linear-gradient(startPoint, startColour, endColour)
  background -moz-linear-gradient(startPoint, startColour, endColour)
  background -ms-linear-gradient(startPoint, startColour, endColour)
  background -o-linear-gradient(startPoint, startColour, endColour)
  background linear-gradient(startPoint, startColour, endColour)

container-max-width = 967


body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: bgColour;
    line-height: 1.4em;
}

a {
    color: weakColour;
}

#tweets {
    padding: 0
    margin: 0
    position: relative
}

#tweets ul {
    list-style: none;
    padding: 0;
    margin: 0
}

tweet-background(colour)
    background-color: colour;
    background-linear-gradient(top, colour +  10%, colour);

.tweet {

    border: 1px solid #859C90;
    line-height: 1.25em;
    padding: 0.4em;

    min-height: 5.5em;
    tweet-background(strongColour)

    box-shadow: inset 0px 2px 18px -9px black
}

.tweet:hover
  tweet-background(strongColour + 20%)



#tweetSettings {
    background-color: weakColour;
    background-linear-gradient(top,weakColour + 10%, weakColour);
    box-shadow: inset 0px 1px 5px 0px black;
    padding: 1.5em;
    color: strongColour;
}

#tweetsContainer, .statistics
    max-width: container-max-width px

.mainContainer
    max-width: container-max-width * 2 px
    margin: 0 auto

#tweetsContainer, .statistics {
    float: left;
    width: 50%;

    background-linear-gradient(top, strongColour + 10%, strongColour - 10%);
    box-shadow: inset 0px 2px 18px -9px black
}

.statistics
    background-color: strongColour;

    min-height: 10em

ul.languages, .tags
    list-style: none
    padding: 1.5em
    margin: 0

statistics-element-background()
  background: url(/images/weakColourPixel.png) no-repeat scroll
  color: highlightColour
  padding: 0.3em


.language, .language-active, .tag, .tag-active {
  statistics-element-background()
}

li.language:hover, .tag:hover
    background-color strongColour - 20%

li.language-active, .tag-active
    background-color strongColour
    font-weight: bold

.animFadeIn-enter {
  opacity: 0.01;
  transition: opacity .25s ease-in;
}

.animFadeIn-enter.animFadeIn-enter-active {
  opacity: 1;
}

.animFadeIn-leave {
  opacity: 0.01;
  transition: opacity .25s ease-in;
}

.animFadeIn-leave.animFadeIn-leave-active {
  opacity: 1;
}


.frozen-tweets-box {
    position: absolute
    width: 100%
    background-color: strongColour - 20%
    border: 1px solid strongColour - 30%
    opacity: 0.85
    line-height: 2.5em
    text-align: center
    box-shadow: 0px 2px 18px -6px black
}

remove-filter-button-base(backColour, textColour = highlightColour)
  background-linear-gradient(top, backColour + 5%, backColour);
  border: 1px solid backColour - 10%
  box-shadow: 0px 2px 7px -2px backColour - 30%
  color: textColour

.remove-filter-button
  remove-filter-button-base(weakColour)


.remove-filter-button:hover
  remove-filter-button-base(weakColour + 10%)

.remove-filter-button:active
  remove-filter-button-base(weakColour - 20%)

.errors-list
  position: absolute;

  margin: 0 auto;
  padding: 1em;

  left: 0;
  right: 0;
  top: 30px;

  width: 33%;
  min-width: 500px;

  background-color: errorColour

  list-style: none;
  border: 1px solid errorColour - 40%;
  box-shadow: 0px 2px 15px -3px errorColour - 100%
  color: hsl(0, 0%, 95%)

.error-icon
    opacity: 0.5
    font-size: 2.5em
    float: left

.error-text
    padding: 0.25em 1em
    text-align: center